// .wrapper {
//     height: calc(100vh - 100px);
//     width: 86%;
//     margin: auto;
//     background-color: white;
// }

.tableContainer{
    overflow-x: auto;
    scrollbar-width: thin;
    
    
    .table {
        font-size: 0.8em;
        min-width: 86%;
        margin-right: auto;
        margin-left: auto;
        background-color: #ffffff;
        border-radius: 5px;
        border-collapse: collapse;

        tbody{
            overflow-y: scroll;
        }
    
        .tableHead {

            th{
                &:first-child {
                    width: 30%;
                }
                
                text-wrap: nowrap;
                text-align: left;
                font-weight: normal;
                user-select: none;
                padding: 15px;
                cursor: pointer;
                
                .thCenter {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
            }
        }

        tr {
            border-bottom: 1px solid #bcbcbc;
        }
    }

    td {
        padding: 15px;
        text-wrap: nowrap;

        .withIcon {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .link {
            color: rgb(2, 79, 221);
            font-weight: bold;
        }
    }

}



